@charset "UTF-8";

* {
	font-family: 'Arial','メイリオ', 'ＭＳ Ｐゴシック',
		'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',
		Sans-serif;
	line-height: 1.18;
}

dl dt {
	font-size: 1.4em;
	margin-bottom: .3em;
}
dl dd {
	margin-bottom: 1em;
}

/* analyze用 */
#count {
	margin-top: 0;
	font-size: 2em;
}
table#totalbar {
	border-collapse:collapse;
	border:0px;
}
